
ConsoleApplication/.vs/Primes/v16/Server/sqlite3/storage.ide-wal
ConsoleApplication/.vs/Primes/v16/Server/sqlite3/storage.ide-shm
ConsoleApplication/.vs/Primes/v16/Server/sqlite3/storage.ide
ConsoleApplication/.vs/Primes/v16/Server/sqlite3/db.lock
